* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 4rem;
  background-color: #550c46;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 226, 1) 100%
  );
}

footer {
  background-color: rgb(142, 16, 110);
  display: flex;
  gap: 6rem;
  height: 60vh;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  gap: 2rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

textarea {
  height: 25rem;
  width: 40rem;
  text-align: center;
  border-radius: 50px;
  border: 0.5rem solid #550c46;
  font-size: 2rem;
  padding: 5px;
}

input[type="number"] {
  font-size: 4rem;
}

input[type="email"],
input[type="number"] {
  text-align: center;
  margin-left: 5rem;
}

input {
  height: 5rem;
  width: 35rem;
  border-radius: 50px;
  border: 0.5rem solid #550c46;
  font-size: 2rem;
}

.message-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"] {
  width: 10rem;
  font-size: 2rem;
  margin-top: -6rem;
}
